body {
	margin: 0px;
	text-align: center;
	font-family: dolcevita;
}

@font-face {
    font-family: dolcevita;
    src: url("./dolcevita.ttf") format("truetype");
}

.section {
	vertical-align: middle;
	display: table-cell;
}

.id {
	opacity: 0.3;
	text-shadow: 0px 5px 0px black;
	font-size: 5em;
	color: white;
}

#cont {
	height: 100%;
	display: table;
	width: 100%;
}

#mover {
	height: 0px;
	overflow: hidden;
	transition: height 1s;
}